In [14]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [15]:
# Example text data (list of documents)
text_data = [
    "text mining is interesting",
    "association rules are powerful",
    "mining techniques for text data",
    "discover patterns in text"
]

In [16]:
# Text preprocessing and representation
te = TransactionEncoder()
te_ary = te.fit(text_data).transform(text_data)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [17]:
df

,,a,c,d,e,f,g,h,i,l,...,o,p,q,r,s,t,u,v,w,x
0,True,False,False,False,True,False,True,False,True,False,...,False,False,False,True,True,True,False,False,False,True
1,True,True,True,False,True,True,False,False,True,True,...,True,True,False,True,True,True,True,False,True,False
2,True,True,True,True,True,True,True,True,True,False,...,True,False,True,True,True,True,True,False,False,True
3,True,True,True,True,True,False,False,False,True,False,...,True,True,False,True,True,True,False,True,False,True

In [18]:
df.columns

Index([' ', 'a', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'l', 'm', 'n', 'o', 'p',
       'q', 'r', 's', 't', 'u', 'v', 'w', 'x'],
      dtype='object')

In [19]:
# Apriori algorithm
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

        support                                           itemsets
0          1.00                                                ( )
1          0.75                                                (a)
2          0.75                                                (c)
3          0.50                                                (d)
4          1.00                                                (e)
...         ...                                                ...
302074     0.25  (n, u, x, q, o, r, e, a, g, t, c, h, m, s, f, ...
302075     0.25  (n, u, x, q, o, r, e, a, g, t, h, m, s, f,  , ...
302076     0.25  (n, u, x, q, o, r, e, g, t, c, h, m, s, f,  , ...
302077     0.25  (n, u, x, q, o, r, a, e, g, t, c, h, m, s, f, ...
302078     0.25  (n, u, x, q, o, r, e, a, g, t, c, h, m, s, f, ...

[302079 rows x 2 columns]

In [23]:
# Association rules
rules = association_rules(frequent_itemsets.iloc[:5000,:], metric='confidence', min_threshold=0.7)

# Print the rules
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,( ),(a),1.00,0.75,0.75,0.75,1.0,0.00,1.0,0.0
1,(a),( ),0.75,1.00,0.75,1.00,1.0,0.00,inf,0.0
2,( ),(c),1.00,0.75,0.75,0.75,1.0,0.00,1.0,0.0
3,(c),( ),0.75,1.00,0.75,1.00,1.0,0.00,inf,0.0
4,(d),( ),0.50,1.00,0.50,1.00,1.0,0.00,inf,0.0
...,...,...,...,...,...,...,...,...,...,...
29186,"(n, g)","(i, m)",0.50,0.50,0.50,1.00,2.0,0.25,inf,1.0
29187,"(n, m)","(i, g)",0.50,0.50,0.50,1.00,2.0,0.25,inf,1.0
29188,"(g, m)","(i, n)",0.50,1.00,0.50,1.00,1.0,0.00,inf,0.0
29189,(g),"(i, n, m)",0.50,0.50,0.50,1.00,2.0,0.25,inf,1.0
29190,(m),"(i, n, g)",0.50,0.50,0.50,1.00,2.0,0.25,inf,1.0